<div class="col-md-2"></div> 
  <div class="container">
    <h4 class="pb-3 mt-4">Upcoming Event</h4>
    <%= render 'event', obj: @upcoming %>

    <h4 class="pb-3 mt-4">Past Event</h4>
    <%= render 'event', obj: @past %>        
  </div>
</div>



