<h1>Events</h1>
<% @events.each do |event| %>
<h4 class="text-center">
    <%= link_to event.description, event_path(event) %> 

    <small><em>by <%= event.creator.name %></em></small>
</h4>
<% end %> 